html {
    position: relative;
}

body {
    background-image: url(img/fondo.jpg);
    width: 600px;
}

h2 {
    margin-left: 230px;
    border: solid;
    border-color: blue;
    border-radius: 10px;
    background-color: aquamarine;
    max-width: 150px;
}

h3 {
    border: solid;
    border-color: blue;
    border-radius: 10px;
    background-color: aquamarine;
}

.cabecera{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
  
.retroceder {
    grid-row: 1;
    grid-column: 2;
    margin-left: 640px;
    margin-top: 20px;
}
  
.cesta {
    grid-row: 1;
    grid-column: 3;
    margin-left: 11px;
    margin-top: 20px;
}

.peliculas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto); 
}

.one {
    grid-row: 1;
    grid-column: 1;
    margin-left: 110px;
}
.two {
    grid-row: 1;
    grid-column: 2;
    margin-left: 50px;
}
.three {
    grid-row: 1;
    grid-column: 3;
    margin-left: 200px;
}
.four {
    grid-row: 1;
    grid-column: 4;
    margin-left: 40px;
}
.five {
    grid-row: 2;
    grid-column: 1;
    margin-left: 110px;
}
.six {
    grid-row: 2;
    grid-column: 2;
    margin-left: 50px;
}
.seven {
    grid-row: 2;
    grid-column: 3;
    margin-left: 190px;
}
.eight {
    grid-row: 2;
    grid-column: 4;
    margin-left: 40px;
}
.nine {
    grid-row: 3;
    grid-column: 1;
    margin-left: 105px;
}
.ten {
    grid-row: 3;
    grid-column: 2;
    margin-left: 50px;
}