h1 {
    width: 93%;
    padding: 20px;
    background-color: lightgreen;
    border-radius: 10px;
    text-align: center;
  }

.blue {
    color: blue;
}

.grid {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.one {
  padding-left: 10px;
  border: solid;
  border-radius: 5px;
  border-color: red;
  grid-row: 1;
  grid-column: 1;
}

.two {
  padding-left: 10px;
  border: solid;
  border-radius: 5px;
  border-color: red;
  grid-row: 1;
  grid-column: 2;
}

.messages {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(71, 153, 247);
  margin: auto;
  width: 500px;
  height: 200px;
  box-sizing: content-box;
  position: relative;
  padding: 10px;
  overflow: auto;
}

