html {
    position: relative;
}

body {
    background-image: url(../img/fondo.jpg);
    width: 600px;
    font-family: 'Goudy Bookletter 1911', serif;
}

.error {
    margin-left: 155px;
}

.foto {
    margin-top: 50px;
    margin-left: 85px;
}